@model IEnumerable<Fortigate_Gui.Models.Ip4Policy>

@{
    ViewData["Title"] = "IPv4 Policy";
}

<div class="row">
    <div class="col-4">
        <p>
            <a onclick="showInPopup('@Url.Action("Create","Ip4Policy",null,Context.Request.Scheme)','Add Ip4Policy')" class="btn btn-outline-danger">New Ip4Policy</a>
        </p>
    </div>
    <div class="col-8">
        <h1><i class="fas fa-code"></i> Ip4Policy</h1>
    </div>
</div>


<div class="row">
    <input class="col-6 form-control d-inline float-right" type="search" id="searchpolicy" placeholder="Search Ip4Policy..." />
</div>
<div id="view-all">
    @await Html.PartialAsync("_ViewAll", Model)
</div>




<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        function Contains(text_one, text_two) {
            if (text_one.indexOf(text_two) != -1)
                return true;
        }
        $("#searchpolicy").keyup(function () {
            var searchText = $("#searchpolicy").val().toLowerCase();
            $(".Search").each(function () {
                if (!Contains($(this).text().toLowerCase(), searchText)) {
                    $(this).hide();
                } else {
                    $(this).show();
                }
            });
        });
    });
</script>