
@{
    ViewData["Title"] = "Home - CrudPage";
}

<a class="btn btn-block btn-dark" asp-controller="EnumAcces" asp-action="Index">CrudEnumAccess</a>
<a class="btn btn-block btn-dark" asp-controller="EnumMode" asp-action="Index">CrudEnumMode</a>

