@model Fortigate_Gui.ViewModels.CreateInterfaceViewModel
@{ ViewData["Title"] = "Interface - Home Page";
    Layout = null;}
<div class="container">
    <form asp-action="Create" onsubmit="return jQueryAjaxPost(this);" autocomplete="off">
        <div class="col-6 float-left">
            <div class="form-group">
                <label asp-for="Interface.EnumTypeID" class="control-label"></label>
                <select asp-for="Interface.EnumTypeID" asp-items="Model.Types" id="type" class="form-control"></select>
                <span asp-validation-for="Interface.EnumTypeID" class="text-danger"></span>
            </div>
            <div class="form-group" id="div_hide">
                <label asp-for="Interface.VlanId" class="control-label"></label>
                <input asp-for="Interface.VlanId" min="1" max="4096" value="1" class="form-control" />
                <span asp-validation-for="Interface.VlanId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IpAddress" class="control-label"></label>
                <input asp-for="IpAddress" class="form-control" />
                <span asp-validation-for="IpAddress" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Interface.EnumModeID" class="control-label"></label>
                <select asp-for="Interface.EnumModeID" asp-items="Model.Modes" class="form-control"></select>
                <span asp-validation-for="Interface.EnumModeID" class="text-danger"></span>
            </div>
        </div>
        <div class="col-6 float-left">
            <div class="form-group" id="div_name_select">
                <label asp-for="Interface.EnumPhysicalID" class="control-label"></label>
                <select asp-for="Interface.EnumPhysicalID" id="name_selectval" asp-items="Model.Physicals" class="form-control"></select>
                <span asp-validation-for="Interface.EnumPhysicalID" class="text-danger"></span>
            </div>
            <div class="form-group" id="div_name_input">
                <label asp-for="VlanName" class="control-label"></label>
                <input asp-for="VlanName" value="NO_VLAN" id="name_inputval" class="form-control" />
                <span asp-validation-for="VlanName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Interface.Alias" class="control-label"></label>
                <input asp-for="Interface.Alias" class="form-control" />
                <span asp-validation-for="Interface.Alias" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Interface.Subnet" class="control-label"></label>
                <input asp-for="Interface.Subnet" class="form-control" />
                <span asp-validation-for="Interface.Subnet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SelectedEnumAcces"></label>
                <select class="custom-select" multiple asp-for="SelectedEnumAcces" asp-items="Model.AccessList"></select>
            </div>
        </div>
        <div class="col-12 float-left">
            <button type="submit" class="col col-12 btn btn-primary">Create Interface</button>
        </div>
    </form>
</div>
@if (Model.Interface.EnumTypeID == 2)
{
<script>
    $(function () {
        $('#div_hide').show();
        $('#div_name_input').show();
    });
</script>
}else {
<script>
    $(function () {
        $('#div_hide').hide();
        $('#div_name_input').hide();
    });
</script>
}
    <script>
        $(function () {

            $('#type').change(function () {
                if ($('#type').val() == 2) {
                    $('#div_hide').show();
                    $('#name_inputval').val('');
                    $('#div_name_input').show();
                    
                } else if ($('#type').val() == 1){
                    $('#div_hide').hide();
                    $('#div_name_input').hide();
                    $('#name_inputval').val('NO_VLAN');
                }
            });
        });
</script>
