@model Fortigate_Gui.ViewModels.CreateFWViewModel

@{
    ViewData["Title"] = "Create";
    Layout = null;
}

<form asp-action="Create" onsubmit="return jQueryAjaxPost(this);" autocomplete="off">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="FirewallAddress.Name" class="control-label"></label>
        <input asp-for="FirewallAddress.Name" class="form-control" />
        <span asp-validation-for="FirewallAddress.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="FirewallAddress.Subnet" class="control-label"></label>
        <input asp-for="FirewallAddress.Subnet" class="form-control" />
        <span asp-validation-for="FirewallAddress.Subnet" class="text-danger"></span>
    </div>
    <div class="form-group">
        <select class="custom-select" asp-for="FirewallAddress.AssociatedZone" asp-items="Model.Zones"></select>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-outline-danger btn-block" />
    </div>
</form>


