@model IEnumerable<Fortigate_Gui.Models.Zone>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center"><i class="fas fa-code"></i> Zone</h1>

<p>
    <a onclick="showInPopup('@Url.Action("Create","Zone",null,Context.Request.Scheme)','Create Zone')" class="btn btn-outline-danger">Create New</a>
</p>
<div id="view-all">
    @await Html.PartialAsync("_ViewAll", Model)
</div>
