@model Fortigate_Gui.ViewModels.EditStaticRouteViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = null;
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" onsubmit="return jQueryAjaxPost(this);" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="StaticRoute.StaticRouteID" />
            <div class="form-group">
                <label asp-for="StaticRoute.InterfaceID" class="control-label"></label>
                <select asp-for="StaticRoute.InterfaceID" class="form-control" asp-items="Model.Interfaces"></select>
                <span asp-validation-for="StaticRoute.InterfaceID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StaticRoute.DestinationSubnet" class="control-label"></label>
                <input asp-for="StaticRoute.DestinationSubnet" class="form-control" />
                <span asp-validation-for="StaticRoute.DestinationSubnet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StaticRoute.Gateway" class="control-label"></label>
                <input asp-for="StaticRoute.Gateway" class="form-control" />
                <span asp-validation-for="StaticRoute.Gateway" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-outline-danger btn-block" />
            </div>
        </form>
    </div>
</div>
